<div class="container">
  <h2 >Movie`sMank</h2>
  <hr>
  <div class="container">
    <div class="row ">
      <div class="d-flex flex-row justify-content-around">
        <div class="ctrls" routerLink="/">
          <!-- <img src="https://img.icons8.com/metro/50/000000/home.png"/> -->
           Home</div>
        <div class=" ctrls" routerLink="/movies">
          <!-- <img src="https://img.icons8.com/ios/50/000000/movie--v1.png"/> -->
           Movies</div>
        <div class=" ctrls" routerLink="/shows">
          <!-- <img src="https://img.icons8.com/ios/50/000000/tv-show.png"/> -->
           Shows</div>
        <div class=" ctrls" routerLink="/category">
          <!-- <img src="https://img.icons8.com/external-others-iconmarket/64/000000/external-category-user-experience-others-iconmarket.png"/> -->
           Category</div>
        <div class=" ctrls" routerLink="/new_result">
          <!-- <img src="https://img.icons8.com/external-others-iconmarket/64/000000/external-category-user-experience-others-iconmarket.png"/> -->
          search</div>
      </div>
    </div>
  </div>
  <hr>
  <!-- <app-search></app-search> -->
  <hr>
</div>
