.back-ground-image{
  position: absolute;
  max-width: 100%;
  width:65%;
  border-radius: 10px;
  opacity:0.3;
  box-shadow: 1px 1px 2px 2px white;
  z-index: -1;
}
.btnPos{
  position:absolute;
  top:0px;
  left:80%;
}
.movie-info{
  position: relative;
  top:50px;
  left: 50px;
}
.extra-movie-data{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
}
.back-button{
  cursor: pointer;
}
.customPosition{
  width:55px;
  height:55px;
  position:absolute;
  top:65%;
  left:50%;
}
